@import url('https://fonts.googleapis.com/css?family=Pacifico');

h1 {
    font-family: 'Pacifico', sans-serif;
    font-size; 30px;
    text-align: center;
}

img {
    width: 600px;
    height: 100%;
}

.slider {
    border: 1px solid black;
    border-spacing: 10px 50px;
}

button {
    background: aquamarine;
    font-family: 'Pacifico', sans-serif;
    font-size: 20px;
    border: 1px solid black;
}